@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;800&display=swap');
*{
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    margin: 3rem auto;
    text-align: center;
}
h1{
    font-size: 233%;
    font-weight: 500;
    color: hsl(271, 36%, 24%);
}
.paragraph{
    color: hsl(270, 7%, 64%);
    line-height: 20px;
}
body{
    display: grid;
    height: 100vh;
    place-items: center;
}
.continer{
    width: 70%;
    display: flex;
    flex-flow: row wrap;
}
main{
    align-self: center;
    width: 50%;
}
@media screen and (max-width:800px) {
    body{
        display: block;
    }
    .continer{
        margin: 0 auto;
        justify-content: center;
    }
    .phone{
        margin: 1rem auto;
    }
    main{
        width: 100%;
        margin: 3rem auto;
    }
}